/* 高さ調整用  */
.margin40 {
  margin: 40px;
}

.mdl-ripple {
  background: rgb(0, 0, 0);
  border-radius: 50%;
  height: 50px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  overflow: hidden;
}

.mdl-ripple.is-animating {
  transition: width 0.3s cubic-bezier(0, 0, 0.2, 1), height 0.3s cubic-bezier(0, 0, 0.2, 1), opacity 0.6s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), width 0.3s cubic-bezier(0, 0, 0.2, 1), height 0.3s cubic-bezier(0, 0, 0.2, 1), opacity 0.6s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), width 0.3s cubic-bezier(0, 0, 0.2, 1), height 0.3s cubic-bezier(0, 0, 0.2, 1), opacity 0.6s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.mdl-tabs {
  display: block;
  width: 100%;
}

.mdl-tabs__tab-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 48px;
  padding: 0 0 0 0;
  margin: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.mdl-tabs__tab {
  width: 100%;
  margin: 0;
  border: none;
  padding: 0 -24px 0 -24px;
  float: left;
  position: relative;
  display: block;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: #BB0000;
  font-weight: 900;
  font-size: 16px;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  height: 2px;
  width: 100%;
  display: block;
  content: " ";
  bottom: 0px;
  left: 0px;
  position: absolute;
  background: #BB0000;
  -webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
  animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
  transition: all 1s cubic-bezier(0.4, 0, 1, 1);
}

.mdl-tabs__tab .mdl-tabs__ripple-container {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  overflow: hidden;
}

.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
  background: rgb(63, 81, 181);
}

/* ログインタブ */
.mdl-tabs__panel {
  text-align: center;
  display: block;
}

.mdl-tabs.is-upgraded .mdl-tabs__panel {
  display: none;
}

.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active {
  display: block;
}

.mdl-textfield__label {
  bottom: 0;
  color: rgba(0, 0, 0, 0.26);
  font-size: 16px;
  pointer-events: none;
  position: absolute;
  display: block;
  top: 24px;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  padding: 0px 0px 0px 10px;
}

.mdl-textfield--floating-label .mdl-textfield__label {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
  color: rgb(63, 81, 181);
  font-size: 12px;
  top: 4px;
  visibility: visible;
}

.mdl-textfield__label:after {
  background-color: rgb(63, 81, 181);
  bottom: 20px;
  content: '';
  height: 2px;
  left: 45%;
  position: absolute;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: 10px;
}

.mdl-textfield.is-focused .mdl-textfield__label:after {
  left: 0;
  visibility: visible;
  width: 100%;
}

/* ログイン */
.loginPage {
  background-color: #FFFFFF;
  margin: auto;
  max-width: 400px;
  min-width: 200px;
}

.passView {
  font-size: 12px;
  float: right;
}

/* --------ポップアップ設定------------------------------------------ */
.mdl-dialog {
 border: none;
 box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
 width: 280px;
}

.mdl-dialog__title {
 padding: 24px 24px 0;
 margin: 0;
 font-size: 1.5rem;
}

.mdl-dialog__actions {
 padding: 8px 8px 8px 24px;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-direction: row-reverse;
 -ms-flex-direction: row-reverse;
 flex-direction: row-reverse;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
}

.mdl-dialog__actions>* {
 margin-right: 8px;
 height: 36px;
}

.mdl-dialog__actions>*:first-child {
 margin-right: 0;
}

.mdl-dialog__actions--full-width {
 padding: 0 0 8px 0;
}

.mdl-dialog__actions--full-width>* {
 height: 48px;
 -webkit-flex: 0 0 100%;
 -ms-flex: 0 0 100%;
 flex: 0 0 100%;
 padding-right: 16px;
 margin-right: 0;
 text-align: right;
}

.mdl-dialog__content {
 padding: 20px 24px 24px 24px;
 color: rgba(0, 0, 0, 0.54);
}
/* ------------------------------------------------------------- */